body {
  font-family: 'Karla', sans-serif;
  background-color: #1e8cbe;
  color: #333333;
}

#main-menu {
  margin: 20px 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-start;

  li {
    padding: 10px;
    background-color: #0A246A;
    margin-right: 10px;

    a {
      padding: 10px;
      color: #ffffff;
    }
  }
}

a:hover {
  padding: 10px;
  color: #ffffff;
}

#main-menu .current-menu-item {
  background-color: #ffffff;

  a {
    color: #0A246A;

    &:hover {
      color: #0A246A;
    }
  }
}

#page {
  padding: 20px;
  background-color: #ffffff;
}
